<a href="https://colab.research.google.com/github/Lorenzdm93/IBM/blob/main/IBM_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from bs4 import BeautifulSoup
from time import sleep
import random
from tqdm.notebook import tqdm
import requests
import pandas as pd
from datetime import datetime

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [4]:
response = requests.get(url)

In [6]:
soup = BeautifulSoup(response.content, 'html.parser')

In [7]:
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

# print(table_contents)
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [10]:
df.head(20)

   PostalCode  ...                                       Neighborhood
0         M3A  ...                                          Parkwoods
1         M4A  ...                                   Victoria Village
2         M5A  ...                          Regent Park, Harbourfront
3         M6A  ...                   Lawrence Manor, Lawrence Heights
4         M7A  ...                      Ontario Provincial Government
5         M9A  ...                                   Islington Avenue
6         M1B  ...                                     Malvern, Rouge
7         M3B  ...                                    Don Mills North
8         M4B  ...                    Parkview Hill, Woodbine Gardens
9         M5B  ...                           Garden District, Ryerson
10        M6B  ...                                          Glencairn
11        M9B  ...  West Deane Park, Princess Gardens, Martin Grov...
12        M1C  ...             Rouge Hill, Port Union, Highland Creek
13        M3C  ...                                    Don Mills South
14        M4C  ...                                   Woodbine Heights
15        M5C  ...                                     St. James Town
16        M6C  ...                                 Humewood-Cedarvale
17        M9C  ...  Eringate, Bloordale Gardens, Old Burnhamthorpe...
18        M1E  ...                  Guildwood, Morningside, West Hill
19        M4E  ...                                        The Beaches

[20 rows x 3 columns]

In [9]:
df.shape

(103, 3)

In [18]:
from tqdm import tqdm

In [25]:
# import geocoder # import geocoder

# # initialize your variable to None
# lat_lng_coords = None
# coords=[]

# # loop until you get the coordinates
# for i in tqdm(df['PostalCode']):
#   while(lat_lng_coords is None):
#     g = geocoder.google('{}, Toronto, Ontario'.format(i))
#     lat_lng_coords = g.latlng
#     if not lat_lng_coords is None:
#       coords=coords.append(lat_lng_coords)

# latitude = lat_lng_coords[0]
# longitude = lat_lng_coords[1]

In [26]:
coor_df=pd.read_csv('Geospatial_Coordinates.csv')

In [29]:
coor_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [38]:
data = pd.merge(df, coor_df,  how='left', left_on=['PostalCode'], right_on = ['Postal Code'])

In [39]:
data.head()

  PostalCode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A      Queen's Park  ...  43.662301 -79.389494

[5 rows x 6 columns]

In [40]:
data=data.drop(['Postal Code'], axis=1)

In [41]:
data.head()

  PostalCode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A      Queen's Park  ...  43.662301 -79.389494

[5 rows x 5 columns]